<h1 class='text-center'><%= params[:country]%> ||| <span class="badge bg-warning text-dark"><%= Newrelease.all.count %></span></h1>
<div class='row'> 
 <% Newrelease.all.each_with_index do |r, ind| %>
  <div class="card-body">
  <%= image_tag "#{r.image}", class:'' %>
  <div class='my-2 text-white bg-success w-75'>
    <%= r.artist %>
  </div>
  <% unless browse_artists('albums', 'items', ind, 'artists',params[:country]).nil? %>
    <% browse_artists('albums', 'items', ind, 'artists',params[:country]).each do |artist| %>
    <h6>Artist Name: <%= artist['name'] %></h6>
    <% end %>
  <% end %>
    <h6 class="card-title">Total Tracks: <%= r.track %></h6>
    <h6 class="card-title">Release Date: <%= r.release_date.strftime('%d.%m.%Y') %></h6>
    <%= link_to "Open in Spotify", r.album, class:'btn btn-success text-white' %>
  </div>
 <% end %>
</div>